h1{
    color:greenyellow;
    font-size:30px;
   
    text-align: center;

    background-color: azure;
}
h2{
    color: aqua;
    text-align: center;
            background-color: cornsilk;
}
table{
    background-color: azure;
}

body{
    background-image:url(../images/ex1.jpeg);
}